@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgba(98, 177, 42, 0.598), rgb(171, 228, 182));
    height: 100vh;
}

.header{
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 20vh;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.todo-input{
    max-width: 250px;
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
}
.add-btn{
    border: none;
    font-size: 1.3rem;
    color: green;
    background:#fff;
    padding: 5px;
}
.add-btn:hover{
    color: #fff;
    background-color:green ;
    cursor:pointer;
}
.todos-container{
    margin-top: 3rem;
}
.todos{
    list-style: none;
    width: 100%;
    max-width: 300px;
    margin: auto;

}
.todo{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    background: #fff;
    transition: all 1s ease;
}

.todo-text{
    flex: 1;
    font-size: 1.2rem;
    padding: 8px;
}

.complete-btn{
    font-size: 1.3rem;
    padding-right: 5px;
    color: white;
    background-color: green;
    padding: 5px;
    cursor:pointer;
    border: none;
}
.trash-btn{
    color: white;
    background-color: red;
    padding: 7px;
    cursor:pointer;
    border: none;
}
.complete-btn i, .trash-btn i {
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(10rem) rotate(20deg);
    opacity: 0;

}

.filter-options{
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-left: 1rem;
    padding: 0.6rem;
    width: 120px;
    outline: none;
    border: none;
    cursor: pointer;

}
.select-warper{
    position: relative;
}
.select-warper::after{
    content:"\25BC";
    padding: 0.5rem;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
}